:root {
    --color: #f9b728;
    --seccolor: #ffd94d;
    --tertcolor: #eadbc1;
    --quadcolor: #719331;
    --pentcolor: #59712d;
    --hexcolor: #FFFACD;
}



#name {
    display: flex;
    justify-content: center;
    font-family: "poppins", serif;
    font-size: 3.5vh;
    font-weight: 700;
    padding: 2vh 5vh;
}

.heading , .heading1{
    display: flex;
    justify-content: center;
    font-family: "poppins", serif;
    font-size: 4.5vh;
    font-weight: 700;
    padding: 5vh 5vh;
    ;
}

.container , .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.cont {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 3vh 2vh;
    width: 15vw;
    height: 20vw;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 1px 1px 5px;
}

.cont1{ display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: 3vh 2vh;
    width: 40vw;
    height: 30vw;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 1px 1px 5px;}

.cont .topics {
    margin-top: 15vw;
    position: absolute;
    font-family: "poppins", serif;
    color: black;
    font-size: 15px;
    font-weight: 700;
    z-index: 1;
    text-transform: capitalize;
    background-color: #fff;

    transition: all 0.3s;
}

.cont1 .topics1{margin-top: 25vw;
    position: absolute;
    font-family: "poppins", serif;
    color: black;
    font-size: 25px;
    font-weight: 700;
    z-index: 1;
    text-transform: capitalize;
    background-color: #fff;
    transition: all 0.3s;}

.cont img {
    height: 30vh;
}
.cont1 img{height: 30vh;
margin-top: 13vh;
border: 13px solid pink;}

.cont:hover, .cont1:hover{
    transform: scale(1.05);

}

.cont:hover .topics {
    transform: scale(1.05);

}

.main {
    height: 40px;
    width: 40px;
    color: #719331;
}

.quizBox {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin-top: 40vh;
    margin-bottom: 20vh;
    text-align: center;
    display: none;




}



.que {
    width: 55vw;

    margin-top: 3vh;
    font-size: 30px;
    font-family: "poppins", serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding-top: 2vh
}



.colBox {
    list-style-type: none;
    width: 50vw;
    margin: 2vh 3vh;
    padding: 2vw 2vw;
    
    font-size: 20px;
    font-family: "poppins", serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #808080;

}

.colBox:hover {
    background-color: #000000;
    color: #fff;
}

.btn {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    text-transform: capitalize;
}

.button {
    padding: 1vh 1vh;
    font-size: 15px;
    font-family: "poppins", serif;
    font-weight: 700;
    border: 2px solid black;
    width: 20%;

}

.instruction {
    font-size: 15px;
    padding: 1vh 1vh;
    border: 1px solid black;
    font-family: "poppins", serif;
}

.button:hover {
    background-color: lightblue;
}

@media only screen and (max-width:480px) {

    #name {
        align-items: center;
    }

    .headingbox {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .heading , .heading1{

        text-align: center;
    }

    .container {
        gap: 5vw;
        flex-wrap: wrap;
    }

    .cont {

        width: 35vw;
        height: 45vw;

    }

    .cont .topics {
        margin-top: 90%;
        padding: 2% 2%;
        font-size: 13px;


    }

    .cont img {
        height: 90%;
        width: 90%;
    }


    .main {
        height: 40px;
        width: 40px;
        color: #719331;
    }

    .quizBox {
        width: 90vw;
        margin-top: 50vh;
        margin-bottom: 20vh;
    }


    .que {
        width: 100%;

        margin-top: 3vh;
        font-size: 17px;

        padding-top: 2vh
    }



    .colBox {

        width: 90%;
        margin: 2vh 2vh;
        
        font-size: 15px;


    }

    .btn {
        width: 100%;

    }

    .button {
        font-size: 15px;

        width: 25%;

    }

    .instruction {
        font-size: 10px;

    }

    .container1{flex-wrap: wrap;}
    .cont1{ 
        margin: 3vh 2vh;
        width: 95vw;
        height: 60vw;
       }

        .cont1 .topics1{margin-top: 50%;
            padding: 2% 2%;
            
            font-size: 15px;
          }

            .cont1 img{height: 50%;
                z-index: 2;
                margin-top: 10%;
                border: 8px solid pink;}

}